#approvalForm table tbody tr{
background: none !important;
}
#approvalForm table{
    width:100%;
    -webkit-box-shadow:unset;
    box-sizing:unset;
    background: none !important;
    margin:10px;
}
#approvalForm table tr td{
    width:100%;
}
h3{
   
    text-align: center;
    background-color: none;
    background: none;
    /* border-bottom: 15px solid maroon; */
    margin-bottom: 0px !important;
    background: #a1052f;
    color: #fff;
    padding: 8px 0px;
    font-size: 20px;

}
.width50{
    width:25% !important;
}
.width50 span{
  padding-left: 8px;
}
.width97{
    width:100% !important;
}
.btns{  
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    width: 100px;
    /* background-color: #222; */
    border: 0px;
    color: #fff;
    border-radius: 4px;
    /* padding: 6px 12px; */
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
  }
  .btn-primary{background-color: #a1052f;}
  .btn-secondary{
    background-color: #222;
    color:#fff;
  }
  .dvCenter{
      text-align: center;
  }
  .red{
      color: red;
  }
  .hidden{
      display: none;
  }
  .dvPrevComments{    
    border: 1px solid grey;  
    max-height: 500px;

  }
  .ms-Dialog-header{
      display: none !important;
  }
  .width30{
      width:15%  !important;      
  }
  .paddingLeft5{
    padding-left: 10px !important;
  }
  .dvRight{
      text-align: right;
  }
  .boolLb1{
      margin-right: 20px;
  }
  .surveySection{      
    background-color: aliceblue;  
  }
  .dvSurvey{      
    padding: 0px 0px 10px 0px;
  }
  .questionChoice{     
  
    margin-top: 5px;
    /* margin-left: 10px; */
  }
  .questionChoice select{
    width: 20%;
  }
  .questionChoice textarea{
      width:100%;
  }
  .textUnderline{
    text-decoration:underline;
  }
  .ReqField, .errorMessage{
    color:red;
    width: 100% !important;
    padding-left: 0px !important;
}
#approvalForm select{
  height:34px !important;
}
.errorMessage{
  padding-left: 10px;
}
.dvPrevComments{padding: 8px;
  border: 1px solid #ccc;}

 .w100{width:100%;}
 .w50{width:50%; display:inline;}
 input[type=radio]{margin:4px 4px 0px 6px;}
 .MRT25{margin-top:25px;}
 .PNONE{padding:0px!important;}